* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Courier New', Courier, monospace;
}

.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}


.promo-section {
    height: 800px;
    background: url("../img/bg/main_bg.png") center center/cover  no-repeat;
    padding: 39px 0 62px 0;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;
}

.logo .logo_text {
    text-align: center;
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    margin-top: 14px;
    text-transform: uppercase;
}

h1 {
    margin-top: 53px;
}

h2.tittle {
    margin-top: 30px;
}

span {
    color: #F9BF3B;
}
    
.tittle {
    text-align: center;
    color: #F9BF3B;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 41px;
    line-height: 41px;
    text-transform: uppercase;
}

.simple .tittle_big {
    text-align: center;
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 80px;
    text-transform: uppercase;
    margin-top: 21px;

}

.promo-section .promo_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    padding: 0 13px 0 13px;
    margin-top: 23px;
}

.promo-section .promo_buttons, .gift-section .gift_buttons{
    display: block;
    margin: 73px auto;
    width: 313px;
    height: 72px;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    font-size: 21px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.more {
    margin-top: 73px;
}
.more .more_text {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
}

.more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

.waiting {
    min-height: 604px;
    background-color:  #EFEFEF;
    padding: 85px 0 75px 0;
}

.waiting .waiting_header, .finish .finish_header {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #252525;
}

.waiting .waiting_divider, .finish .finish_divider {
    width: 217px;
    height: 4px;
    background: #F9BF3B;
    margin: 0 auto;
    margin-top: 18px;
}

.waiting .waiting_subheader {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    text-align: center;
    color: #4A4A4A;
    text-align: center;
    margin-top: 17px;
}

.waiting .waiting_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.waiting .waiting_wrapper .waiting_item {
    width: 339px;
    text-align: center;
}

.third-section {
    min-height: 550px;
    padding: 102px 0 107px 0;
}

.optimization_header {
    margin-left: 391px;
    font-weight: 900;
    font-size: 28px;
    line-height: 30px;
    text-transform: uppercase;
    color: #299CBD;
}

.optimization_text {
    margin-top: 25px;
    margin-left: 391px;
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    color: #4A4A4A;
}

.optimization_two {
    font-weight: 700;
    font-family: 'Roboto';
}

.optimization_img {
    position: absolute;
    top: 48px;
    left: -240px;
    z-index: -1;
}

.finish {
    min-height: 447px;
    padding: 86px 0 79px 0;
    background: url("../img/bg/second_bg.png") center center/cover no-repeat
}

.finish .finish_header {
    color: white;
}

.finish .finish_wrapper {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish .finish_wrapper .finish-item {
    width: 204px;
}

.finish .finish_wrapper .finish-item .finish_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 115px;
    height: 115px;
}

.finish .finish_wrapper .finish_descr {
    margin-top: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #EFEFEF;
}

.gift-section {
    min-height: 631px;
    background-color:  #EFEFEF;
    padding: 85px 0 75px 0;
}

.gift-img {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.gift-text {
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #252525;
    margin-top: 60px;
}

.vebinar-section {
    min-height: 680px;
    padding: 85px 0 75px 0;
}

.vebinar-img {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vebinar-item {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #252525;
}

.vebinar-tittle {
    margin-top: 33px;
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #299CBD;
}

.vebinar-p {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #4A4A4A;
}

.footer {
    min-height: 169px;
    background-color: #1A1A1A;
    padding: 85px 0 75px 0;
}

.footer-a {
    margin-top: 57px;
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    color: #888888;
}

.footer-p {
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #888888;
    font-family: 'Times New Roman', Times, serif;

}